<h2>Houses Page</h2>

<table>
  <tr>
    <th>House</th>
    <th>Logo</th>
    <th>View</th>
  </tr>
  <% for ind in @houses %>
    <tr>
      <td><%= ind.house %></td>
      <td>logo</td>
      <td>button</td>
    </tr>
  <% end %>
</table>
