<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Hogwarts Student Directory</title>
  </head>
  <body>
    <nav>
      <ul>
        <a href="/students"><li>Student Directory</li></a>
        <a href="/students/new"><li>New Student</li></a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
