<form action="/students/new" method="post">
  <input type="text" name="first_name" placeholder="Forename">
  <input type="text" name="last_name" placeholder="Surname">
  <select name="house">
    <% for house in @houses %>
      <option value="<%= house.id %>"><%= house.house %></option>
    <% end %>
  </select>
  <input type="number" name="age" placeholder="Age" min="1">
  <input type="submit" value="Enter Student">
</form>
