<h2>Students Page</h2>

<table>
  <tr>
    <th>Student</th>
    <th>House</th>
    <th>Age</th>
  </tr>
  <% for student in @students %>
    <tr>
      <td><%= student.name %></td>
      <td><%= House.house(student.house) %></td>
      <td><%= student.age %></td>
    </tr>
  <% end %>
</table>
